// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.



@import "variables";


// Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
//@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
//@import "bootstrap/scss/modal"; // Requires transitions
@import "bootstrap/scss/tooltip";
//@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

@import "icon-list";

//
// Custom styles
//

body {
  @extend .m-auto;

  padding: 1.5rem;
  max-width: 1200px;
  
}

.container {
  @extend  .py-3;
}

header {
  .row {
    @extend .justify-content-center;

    .col {

      @extend .d-flex;
      @extend .flex-row;

      &:last-child, 
      &:first-child {
        @extend .align-items-center;
      }

      &:nth-child(2) {
        @extend .justify-content-center;
      }

    }

  }


}

main {

  .row {
    @extend .row-cols-1;
    @extend .row-cols-md-3;
    @extend .mb-3;
    @extend .text-center;
  }

}


.container-switch-billing-type {
  .col:first-child {
    @extend .justify-content-end;
  }
}

.form-switch {
  .form-check-input {
      height: 2.5rem;
      width: 4.5rem;
  }
}

small {
  @extend  .fw-light;
}

.badge {
  @extend .bg-success;
}


.pricing-header {
  @extend  .p-3;
  @extend  .pb-md-4;
  @extend  .mx-auto;
  @extend  .text-center;

  h1 {
    @extend  .display-4;
    @extend  .fw-normal;
    
  }

}

.btn-secondary {
  @extend .btn;
  @extend  .border-dark;

  &:hover {
    @extend .bg-white;
  }

}



.btn-primary {
  @extend .btn;
  @extend  .border-primary;
  @extend .btn-lg;
  @extend .w-100;
  @extend .text-white;

  &:hover {
    background-color: #00AB50 !important;
  }

}




.card {
  
  @extend .rounded-0;
  @extend .shadow-sm;
  @extend .mt-4;
  
  h1 {
    @extend .display-5;
    font-weight: bold;
  }

  .card-header {

    @extend .py-4;
    @extend  .rounded-0;
   
    background-color: transparent;
    border: none;
    height: 7rem;

    h4 {
      @extend .mb-1;
      font-weight: bold;
    }

  }

  

  .card-body {

    @extend .p-3;
    @extend .pt-0;

    height: 20rem;

    h1 {
      @extend .m-0;
    }

    .card-title {
     small {
        font-size: $font-size-base;
      }
    }

  }

  .card-footer {
    @extend .pb-4;
    background-color: transparent;
    border: none;

  }

}


.card-highlighted {

    .btn {
      @extend .btn-primary;
    }

    .badge-sticker {

      @extend .bg-dark;
      @extend .text-white;

      position: relative;
      top: -1rem;
      margin-left: 2rem;
      margin-right: 2rem;
    
    }

    &.card {
      @extend .border;
      @extend .border-primary;
      @extend .bg-success;

      .card-header {
        margin-top: -1.7rem;
      }

    }
  }

.icon-help {
  @extend .ms-auto;
}


table {

  @extend .table-bordered;
  @extend .table-striped;
  

  th {
    
    @extend .h6;
    font-weight: bold;
    @extend .py-3;
    
    


    &:nth-child(2) {
      text-align: center;

    }

    &:nth-child(3) {
      text-align: center;
      @extend .bg-success;
    }

    &:nth-child(4) {
      text-align: center;
    }

  }

  td:nth-child(2) {
    text-align: center;
  }

  td:nth-child(3) {
    text-align: center;
    @extend .bg-success;

  }

  td:nth-child(4) {
    text-align: center;
  }


}
 